@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Courgette&family=Yatra+One&display=swap');

/*=============== VARIABLES CSS ===============*/
:root {
  /*========== Colors ==========*/
  --hue: 240;
  --first-color: hsl(var(--hue), 16%, 18%);
  --first-color-alt: hsl(var(--hue), 16%, 12%);
  --title-color: hsl(var(--hue), 8%, 15%);
  --text-color: hsl(var(--hue), 8%, 35%);
  --body-color: hsl(var(--hue), 100%, 99%);
  --container-color: #FFF;

  /*========== Font and typography ==========*/
  --body-font: 'Poppins', sans-serif;
  --big-font-size: 1.5rem;
  --normal-font-size: .938rem;

  /*========== z index ==========*/
  --z-modal: 1000;
}

@media screen and (min-width: 968px) {
  :root {
    --big-font-size: 1.75rem;
    --normal-font-size: 1rem;
  }
}

body{
    font-family: 'Poppins', sans-serif;
    background-image: url("../img/bg.jpg");
    background-repeat: no-repeat, repeat;
    background-color: #ececec;
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
}

body,
button{
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
}

button{
  cursor: pointer;
  border: none;
  outline: none;
}

/*------------ Login container ------------*/
.box-area{
    width: 1930px;
}

/*------------ Right box ------------*/
.right-box{
    padding: 40px 30px 40px 40px;
}

/*------------ Custom Placeholder ------------*/
::placeholder{
    font-size: 16px;
}

.rounded-4{
    border-radius: 20px;
}
.rounded-5{
    border-radius: 30px;
}

h2{
    font-family: 'Courgette', cursive;
    font-family: 'Yatra One', cursive;
    text-align: center;
    text-shadow: 3rem;
}

h2 span{
    color: #16D9E8;
    transition: 0.25s;
}

h2:hover span {
    color: #0f0;
    text-shadow: 0 0 1px #0f0,
    0 0 15px #0f0,
    0 0 30px #0f0;
}

legend{
    text-align: center;
    font-weight: 600;
}
p{
    text-align: center;
}

input {
  text-align: left;
  width: 100%;
  margin-bottom: 20px;
  margin-top: 10px;
  padding: 7px 10px;
  font-size: 18px;
}

.modal__button{
  display: inline-block;
  background-image: radial-gradient(circle at 100% 0%, #b7e664 0, #a1e05f 16.67%, #88d758 33.33%, #6acc50 50%, #46c149 66.67%, #02b847 83.33%, #00b047 100%);;
  color: #4d08ee;
  font-weight: 600;
  padding: 1rem 1.25rem;
  border-radius: .5rem;
  transition: .3s;
}

.modal__button:hover{
  background-image: radial-gradient(circle at 100% 0%, #fea82a 0, #f0af1e 6.25%, #e1b516 12.5%, #d1bb14 18.75%, #c0c01a 25%, #afc524 31.25%, #9cc931 37.5%, #87cd3f 43.75%, #70d04e 50%, #53d35e 56.25%, #25d56f 62.5%, #00d780 68.75%, #00d892 75%, #00d9a4 81.25%, #00dab6 87.5%, #00dbc9 93.75%, #00dbdb 100%);;
}

.form-control { width: 100% !important; }
select.form-control { margin-bottom: 15px !important; }
.parsley-errors-list { margin-top: -10px !important; margin-bottom: 10px !important; }

/*------------ For small screens------------*/
@media only screen and (max-width: 768px){

     .box-area{
        margin: 0 10px;

     }
     .left-box{
        height: 210px;
        overflow: hidden;
     }
     .right-box{
        padding: 20px;
     }
     .left-box img {
       height: 100px;
     }
     .left-box .featured-image {
       margin: 0px !important;
     }
     .left-box p {
       margin: 0px;
     }
     .container {
       padding: 0px;
     }
     .container-fluid {
       padding: 0px;
     }

}

.select2.select2-container.select2-container--bootstrap-5{margin-top:5px;margin-bottom:15px;}
